.contact_top_form{
	overflow: hidden;
	background-color:transparent!important;
	overflow-y: hidden!important;
	height: 50vw!important;
}
.contact_form_top{
	background-color: #f5f5f5;
	padding: 0 2vw;
	margin: 0;
}
.contact_form_title{
	font-size: 2vw;
	text-align: center;
}
.full_width_social1{
	font-size: 2.2vw!important;
	font-family: latoThin;
	margin-bottom: 0;
}
.full_width_social2{
	font-size: 2.9vw!important;
	font-family: latoBold;
	margin-top: -2vw;

}