.test_front{
	height: 50vw;
	width: 100%;
	overflow: hidden;
	background-image: url(../images/bgpic_1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.footer_1_padding{
	height: 20vw;
	background-color: #0d345f;
	color: white;
	padding: 4vw 0 0 4vw;
}
.footer_1_1_social p{
	font-size: 5vw;
	margin: 0;
	line-height: 4vw;
	border-right: 1px solid #22436c;
	font-family: latoThin;
}
.footer_1_2 p{
	margin: 0;
	line-height: 1.5vw;
}
.footer_1_2 p:first-child{
	font-size: 1.5vw;
	margin-bottom: 0.5vw;
}
.footer_1_2 i{
	font-size: 1vw;
	opacity: 0.7;
}
.footer_1_2_text{
	font-size: 1.2vw;
}
.footer_1_btn button{
	width: 18vw;
	height: 5vw;
	margin-bottom: 2vw;
	margin-left: -0.5vw;
	color: white;
	font-size: 0.9vw;
	display: block;
	background-color: #0294cd;
	border: none;
	padding: 0.3vw 0.6vw;
}
.footer_1_btn button:first-child{
	background-color: #00477f;
}
@media screen and (max-width: 768px) {
	.footer_1_padding{
		text-align: center;
		margin: 0 auto;
	}
	.footer_1_btn{
		margin: 0 auto;
	}
	.footer_1_btn p{
		text-align: center;
	}
	.footer_1_2 p:first-child{
	font-size: 3vw;
	margin-bottom: 0.5vw;
	}
	.footer_1_2 i{
		font-size: 2vw;
		opacity: 0.7;
	}
	.footer_1_2_text{
		font-size: 2.5vw;
	}
	.footer_1_2 p{
	margin: 0;
	line-height: 3vw;
	}
	.footer_1_padding{
	height: 30vw;
	}
	.footer_1_1_social{
		margin-top: 10vw;
	}
	.footer_1_btn button{
	width: 36vw;
	height: 10vw;
	margin-bottom: 4vw;
	margin-left: 30vw;
	font-size: 2.2vw;
	padding: 0.6vw 0.6vw;
	}
}
.footer_1_padding2{
	height: 20vw;
	background-color: #06162f;
	color: white;
	padding: 4vw 0 0 4vw;
}
#sign_form input{
	display: inline-block;
}
.nl-email{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-left: 1vw;
	width: 100%;
	height: 3vw;
	font-size: 1vw;
	border: 0 solid #154f8f;
}
.nl-submit{
	width: 100%;
	height: 3vw;
	background-color: #154f8f;
	outline-color: #154f8f;
	border-color: #154f8f;
	font-size: 1vw;
	border: 0 solid #154f8f;
}
.subscribe_row{
	margin-right: 3.2vw;
}
.subscribe_row div{
	padding: 0; 
}
.footer_2_1_logo{
	border-right: 1px solid #1b2a41;
}
.footer_2_1_logo img{
	width: 15vw;
	height: auto;
	margin-bottom: 2vw;
}
.footer_2_1_logo p, .footer_2_1_center p{
	font-size: 0.9vw;
}
#footer_2_1_right p{
	font-size: 1.5vw;
}
#line_space{
	height: 5vw;
}
#footer_2_1_right i{
	font-size: 1.5vw;
	margin-right: 1vw;
}
.footer_1_padding3{
	background-color: #06162f;
	color: #717d8d;
	padding: 0.5vw 4vw 0 4vw;
	
}
.footer_1_padding3 div{
	border-top: 1px solid #1b2a41;
}
.footer_1_padding3 p{
	margin-top: 2vw;
	font-size: 0.8vw;
}
@media screen and (max-width: 768px) {
	.footer_1_padding2{
		height: 35vw;
	}
	.footer_2_1_logo{
		text-align: center;
	}
	.footer_2_1_logo img{
		width: 30vw;
		height: auto;
	}
	.footer_2_1_logo p{
		font-size: 2.5vw;
	}
	.footer_2_1_center p{
		font-size: 2.5vw;
	}
	#footer_2_1_right p{
		font-size: 3vw;
	}
	#footer_2_1_right i{
		font-size: 3vw;
	}
	.footer_3 p{
		font-size: 1.5vw;
	}
	.nl-email, .nl-submit{
		height: 5vw;
		font-size: 2.5vw;
		padding-top: 4px;
	}
}