@font-face {
    font-family: latoThin;
    src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
    font-family: latoBold;
    src: url(../fonts/Lato-Bold.ttf);
}
@media (max-width: 767px){

	.logo-container{
		display: none!important;
	}


}
@media (max-width: 992px){
	.kl-slideshow{
		height: 100vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb{
	background-color: blue;
	height: 12vw!important;
	padding:0px;
	padding-right: 3vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .date{
	margin-bottom: 3px;
	font-size: 1.2vw!important;
	color: black;
	}
	.slider_bottom_content .thumbs .row .thumb .month{
		color:black;
		font-size: 1vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .hour{
		margin-top: 0.6vw!important;
		color: #a5a5a5;
		font-size: 0.8vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .main-title{
	margin-top:3vw!important;
	color: black;
	font-size:2.5vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .sub-title{
		color: #a5a5a5;
		font-size: 1.8vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .content-text{
		color: black;
		font-size: 0.8vw!important;
		margin-bottom: 0vw!important;
	}
	.slider_bottom_content .thumbs .row .thumb .row{
		padding: 0px;
		margin:0px;
		position: absolute;
		/*top:10.3vw!important;*/
		left: 0!important;
	}
	.slider_bottom_content .thumbs .row .thumb:nth-child(1){
		padding-left: 1vw;
		padding-right: 3vw;
	}
	.icon-facebook , .icon-twitter{
		color:#a5a5a5!important;
		font-size:1.5vw!important;

	}
	.slider_bottom_content .thumbs .row .thumb .events{
		position: absolute;
		bottom: 3vw!important;
		right: 3vw!important;
		color:#a5a5a5;
		font-size: 2vw!important;
	}
	.visit_section .visit_content .hg_section .number-section .number{
	color:white;
	font-size:10vw!important;
	margin-bottom: 0vw;
	}
	.visit_section .visit_content .hg_section .number-section .number-title{
		color:white;
		font-size:2.6vw!important;
		margin-bottom: 0vw;
	}
	.visit_section .visit_content .hg_section .number-section .number-text{
		color:white;
		font-size:2.4vw!important;
	}
	.visit_section .visit_content .hg_section .title{
		color:white;
		font-size:2.6vw!important;
	}
	.visit_section .visit_content .hg_section .left-section .thumb-section > div .main-text{
		color:white;
		font-size:2.5vw!important;
	}
	.visit_section .visit_content .hg_section .left-section .thumb-section > div .sub-text{
		color:white;
		font-size:1.9vw!important;
		margin-top:3vw!important;
	}
	.visit_section .visit_content .hg_section .left-section .thumb-section .box .main-text{
		color:white;
		font-size:2.2vw!important;
	}
	.visit_section .visit_content .hg_section .left-section .thumb-section .box .content-text{
		color:white;
		font-size:2.1vw!important;
	}
	.visit_section .visit_content .hg_section .left-section .thumb-section .box .other-text{
		color:#a5a5a5;
		font-size: 1.9vw!important;
	}
	.campus_section .campus_content .thumb-section .main-title{
	color:white;
	font-size:2.1vw!important;
	margin-bottom: 0.3vw;
	}
	.campus_section .campus_content .thumb-section .content-text{
		color:white;
		font-size:1.8vw!important;
		margin-bottom: 0.3vw;
	}
	.campus_section .tedx-box{
	position: absolute;
	width: 30%!important;
	height: 18vw!important;
	background-color: rgba(226,34,21,0.8);
	right:0px;
	bottom:6vw;
	z-index: 30;
	}
	.campus_section .tedx-box p:nth-child(1){
		font-size:5vw!important;
		color:white;
		margin-top:0.3vw;
		margin-left:1vw;
		margin-bottom: 0px;
	}
	.campus_section .tedx-box p:nth-child(2){
		font-size:2vw!important;
		color:white;
		margin-top:0.3vw;
		margin-left:1vw;
		margin-bottom: 0px;
	}
	.campus_section .tedx-box p:nth-child(3){
		font-size:1.6vw!important;
		color:white;
		margin-top:0.3vw;
		margin-left:1vw;
		margin-bottom: 0px;
	}
	.slider_images_box{
	position: absolute;
	left: 7%!important;
	top:9vw;
	z-index: 100;

	}
}
.iosSlider{
	height: 55vw!important;
}
.slider_item1 ,.slider_item2 ,.slider_item3 ,.slider_item4{
	position: absolute;
	left: 0px;
	top: 0px;
}
.slide-item{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	height: 55vw;
}
.slider_images_box{
	position: absolute;
	left: 4vw;
	top:9vw;
	z-index: 100;

}
.slider_images_box .title span:nth-child(1){
	font-family: latoThin;
	font-size: 3.9vw;
	color: white;
}
.slider_images_box .title span:nth-child(3){
	font-family: latoThin;
	font-size: 3vw;
	color: white;
}
.slider_images_box .title span:nth-child(2){
	font-family: latoBold;
	font-size: 3.9vw;
	color: white;
}
.slider_images_box .title{
	z-index: 5;
	position: absolute;
	top:1.5vw;
}
.slider_images_box .slider_images{
	padding:0px!important;
	margin:0px!important;
	margin-top: 6vw!important;
}
.slider_images_box .slider_images div{ 
	padding-left: 0.65vw!important;
	padding-right: 1vw!important;
}
.pilot, .general{
	margin-left: -2vw;
}
.slider_images_box .slider_images .image-item{
	background-repeat: no-repeat;
	background-size: 100%;
	width:80%;
	height: auto;
}
.slider_images_box .slider_images .thumb-text{
	font-size: 1.5vw;
	color: white;
	margin-bottom: 0.1vw;
}
.slider_images_box .slider_images .thumb-sub-text{
	font-size: 1vw;
	color: white;
	margin-bottom: 0.1vw;
}
.slider_bottom_content{
	width:90%;
	height: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: white;
}
.slider_bottom_content .thumbs{
	margin-left: 4vw;
	background-color:white;
	width: 100%;

}
.slider_bottom_content .thumbs .row{
	margin:0px;
}
.slider_bottom_content .thumbs .row .thumb{
	background-color: rgba(256,256,256,0.2);
	/*height: 16vw;*/
	padding:0px;
	padding-right: 3vw;
	border-left: 1px solid rgba(50,50,50,0.1);
}
.slider_bottom_content .thumbs .row .thumb .social-btn{
	position: absolute;
	bottom: 2vw;
	left: 1vw; 
	color:#a5a5a5!important;
	font-size:1vw;
}
.slider_bottom_content .thumbs .row .thumb .social-btn a{
	color:#a5a5a5!important;
	font-size:1vw;
}

.slider_bottom_content .thumbs .row .thumb:nth-child(1){
	/*padding-left: 1vw;*/
	padding-right: 3vw;
	border-left:0px;
}
.slider_bottom_content .thumbs .row .thumb .main-title{
	margin-top:2vw;
	color: black;
	font-size:1.5vw;
	margin-bottom: 1vw;

}
.slider_bottom_content .thumbs .row .thumb .sub-title{
	color: #a5a5a5;
	font-size: 0.8vw;
	margin-bottom: 0.2vw;
}
.slider_bottom_content .thumbs .row .thumb .content-text{
	color: black;
	font-size: 0.8vw;
	margin-bottom: 0.4vw!important;
}
.slider_bottom_content .thumbs .row .thumb .row{
	padding: 0px;
	margin:0px;
	position: absolute;
	top:1vw;
	left: 0;
}
.slider_bottom_content .thumbs .row .thumb .events{
	position: absolute;
	bottom: -12vw;
	right: 1vw;
	color:#a5a5a5;
	font-size: 1vw;
}
.slider_bottom_content .thumbs .row .thumb .date{
	margin-bottom: 3px;
	font-size: 1.8vw;
	color: black;
}
.slider_bottom_content .thumbs .row .thumb .month{
	color:black;
	font-size: 1.1vw;
}
.slider_bottom_content .thumbs .row .thumb .hour{
	margin-top: 0.6vw;
	margin-bottom: 0.2vw;
	color: #cd2122;
	font-size: 0.8vw;
}
.visit_section{
	background-color: #06162f;
}
.visit_section .visit_content{
	width:94.05%;
	overflow-y: auto;
	height: auto;
	background-color: #06162f;
	padding-left: 4vw;

}
.pTop0{
	padding-top:0px!important;
}
.visit_section .visit_content .hg_section .title-section{
	font-size:4vw;
  	color: white;
  	line-height: 4vw;
}
.visit_section .visit_content .hg_section .left-section{
	padding-top: 4vw;
}
.visit_section .visit_content .hg_section .left-section .thumb-section{
	margin-top: 4vw;
}
.visit_section .visit_content .hg_section .left-section .thumb-section > div .main-text{
	color:white;
	font-size:1.1vw;
}
.visit_section .visit_content .hg_section .left-section .thumb-section > div .sub-text{
	color:white;
	font-size:0.9vw;
	margin-top:2vw!important;
}
.visit_section .visit_content .hg_section .left-section .thumb-section .box .main-text{
	color:white;
	font-size:1vw;
	margin-bottom: 0.3vw;
}
.visit_section .visit_content .hg_section .left-section .thumb-section .box .content-text{
	color:white;
	font-size:0.9vw;
	margin-bottom: 0.4vw;
}
.visit_section .visit_content .hg_section .left-section .thumb-section .box .other-text{
	color:#a5a5a5;
	font-size: 0.7vw;
	margin-bottom: 0.4vw;
}
.font-light{
  font-weight: 100;
  font-family: latoThin;
}
.font-bold{
  font-weight: 800;
  font-family: latoBold;
}
.visit_section .visit_content .hg_section .number-section .number{
	color:white;
	font-size:4vw;
	margin-bottom: 0.2vw;
}
.visit_section .visit_content .hg_section .number-section .number-title{
	color:white;
	font-size:0.8vw;
	margin-bottom: 0.2vw;
}
.visit_section .visit_content .hg_section .number-section .number-text{
	color:white;
	font-size:0.7vw;
}
.visit_section .visit_content .hg_section .title{
	color:white;
	font-size:0.8vw;
}
.visit_section .visit_content .hg_section .number-bar{
	padding-top:4vw;
	padding-bottom: 4vw;
	height: auto;
}
.campus_section{
	position: relative;
	width:100%;
	height: auto;
	padding-bottom: 4vw;
	background-size: 100%;
	background-image: url(../images/back6.jpg);
	/*background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.6) 0%, rgba(33, 86, 99, 0.6) 45%, rgba(25, 36, 57, 0.3) 90%);*/
}
.campus_section .campus_content{
	width:94.05%;
	overflow-y: auto;
	height: auto;
	padding-left: 4vw;

}
.campus_section .campus_content .thumb-content{
	padding-top: 4vw;
}
.campus_section .campus_content .title-section{
	font-size:6vw;
  	color: white;
  	line-height: 4vw;
}
.campus_section .campus_content .thumb-section{
	padding-top: 4vw;
}
.campus_section .campus_content .thumb-section .main-title{
	color:white;
	font-size:1.1vw;
	margin-bottom: 0.3vw;
}
.campus_section .campus_content .thumb-section button{
	color:white;
	background-color: transparent!important;
}
.campus_section .campus_content .thumb-section .content-text{
	color:white;
	font-size:0.8vw;
	margin-bottom: 0.3vw;
}
.campus_section .campus_content .img-section{
	padding-right: 0px!important;
}
.campus_section .campus_content .campus-img{
	width:100%;
	height: 42vw;
	/*background-repeat: no-repeat;*/
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../images/back1.jpg);
}
.campus_section .tedx-box{
	position: absolute;
	width: 20%;
	height: 10vw;
	background-color: rgba(226,34,21,0.8);
	right:0px;
	bottom:3vw;
	z-index: 30;
}
.campus_section .tedx-box p:nth-child(1){
	font-size:3vw;
	color:white;
	margin-top:0.3vw;
	margin-left:1vw;
	margin-bottom: 0px;
}
.campus_section .tedx-box p:nth-child(2){
	font-size:1vw;
	color:white;
	margin-top:0.3vw;
	margin-left:1vw;
	margin-bottom: 0px;
}
.campus_section .tedx-box p:nth-child(3){
	font-size:0.6vw;
	color:white;
	margin-top:0.3vw;
	margin-left:1vw;
	margin-bottom: 0px;
}
.story-section{
	padding:0px;
	margin:0px;
	padding-top: 4vw;

	width:100%;
	height: auto;
	padding-bottom: 4vw;
	/*background-repeat: no-repeat;*/
	background-size: 100% 100%;
	background-position: center;
	/*background-image: url(../images/about.jpg);*/
}
.story-section .title-section{
	color:white;
	font-size: 6vw;
	margin-left: 4vw;
	line-height: 4vw;

}
.story-section .title-section p{
	color:#0d345f;
	font-size: 4vw;
	font-family: latoThin;
	
}
.story-section .title-section p:nth-child(3){
	color:white;
	font-size: 6vw;
	font-family: latoBold;
}
.story-section .text-section{
  	background-color: white;
	opacity: 0.8;
	margin-top: 3vw;
	padding-left:9vw;
	padding-top:20px;
	padding-bottom:40px;
	right: 5vw;
}
.video_trigger{
	top:12vw;
}
.story-section .text-section .title{
  color:#0d345f;
  font-size:1vw;
}
.story-section .text-section .row div{
  color:#464646;
  font-size:0.9vw;
  margin-bottom: 0.4vw;
}
.story-section .text-section button{
  
  color:#cd2122;
  background-color: transparent!important;
  float: right!important;
  margin-right: 2vw;
}
video { 
    position: absolute;
    top: 75%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
/* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  background-size: cover;
  transition: 0s opacity;
}
.main-title1{
	font-size: 2vw;
}
.events1{
	font-size: 1vw;
	font-color:#f5f5f5;
}
@media screen and (max-width: 992px){
	.thum_news_date{
		padding: 0 0 0 5px;
	}
	.thub_new_content{
		padding: 0 5px 0 5px;
	}
}
.carousel-inner{
	height: 10vw;
}
#footer_2_1_right i{
	color: white;
}
.news_button{
	margin-top: 14.2vw;
	background-color: red;
	color: white;
	border-color: red;
	
}
.thumb_news_right{
	background-image: url("../images/events.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 16vw;
	padding-right: 0!important; 
}