.news_slide_item{
	height: 30vw!important;
}
.newspage_title{
	text-align: center;
	top: 5vw!important;
	padding: 0 30vw;
}
.newspage_title p{
	color: white;
	font-size: 1.5vw;
}
#detail_tab{
	width: 14.2857%; 
}
#detail_tab a{
	border-radius: 0!important;
	font-weight: 800;
	padding: 0.52vw;
	font-size: 1vw;
}
#detail_tab a:focus{
	background-color: red!important;
	border-radius: 0!important;
}
#detail_tab a:hover{
	background-color: red!important;
	border-radius: 0!important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: red!important;
}
.header_tab{
	background-color: white;
	padding: 0;
}
#sort_detail li{
	padding: 0.52vw 0;
	text-align: center;
	font-size: 1vw;

}
.gallery{
	margin-top: -4vw;
	width: 90vw!important;
	height: 80vw!important;
	margin-left: 4vw;
	margin-right: 4vw;
	padding: 0.52vw!important;
	background-color: rgba(255,255,255,0.3)!important;
	position: relative!important;

}
.gallery_header{
	height: 5vw;
	padding: 0 0.78vw;
}
.gallery_body{
	height: 55vw;
}
.gallery_body1{
	padding: 0 0.78vw;
}
.gallery_body1 div{
	margin:0.86vw;
	background-color: rgba(255,255,255,1);
}
.gallery_body1 .col-xs-3{
	width: 23%!important;
}
.gallery_body1 div img{
	width: 100%!important;
}
.gallery_body_margin{
	margin: 0.78vw;
}
.gallery_hover:hover{
	-webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.gallery_body_margin hr{
	margin: 0.52vw 0 0.52vw 0;
}
.gallery_body_margin p{
	margin-bottom: 0.52vw!important;

}
.gallery_body_margin .thumb-text{
	font-weight: 800;
	font-size: 1vw;
}
.gallery_body_margin .thumb-sub-text{
	font-size: 0.8vw;
}
.gallery_footer li{
	background-color: rgb(255,255,255);
	border-radius: 20px;
}
.gallery_footer li a{
	color: blue!important;
}
.gallery_footer li:hover, .gallery_footer li:focus{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.gallery_footer li:hover a, .gallery_footer li:focus a{
	color: red!important;
}
.latest_event{
	height: 65vw;
	background-color: #1b457c;
}
.latest_event_title{
	padding: 2vw 4vw;
}
.latest_event_title span:first-child{
	font-size: 3.9vw;
	font-family: latoThin;
	color: white;
}
.latest_event_title span:nth-child(2){
	font-size: 3.9vw;
	font-family: latoBold;
	color: white;
}
.latest_event_title p{
	font-size: 1.5vw;
	color: white;

}
.event_content{
	margin-left: 4vw;
	margin-right: 4vw;
	height: 50vw;
	background-color: rgb(191,198,208);
}
#event_content_header{
	text-align: center;
	font-size: 2vw;
	color: #3e3f3a;
	font-weight: 800;
	padding-top: 2vw;
}
.event_content_content hr{
	margin: 0;
	border-top: 2px solid rgb(255,0,0);
}
.content_left p{
	margin-left: 1.1vw; 
	font-size: 1.5vw;
}
.red_line{
	height: 1vw;
}
.content_left1 p{
	margin:0!important;
	font-size: 1.2vw!important;
	font-weight: 800;

}
.content_left1{
	height: 7vw!important;
}
.content_left1 img{
	width: 100%;
	height: 6vw;
}
.event_content_right p{
	font-size: 1vw;
}
.event_content_footer_text{
	font-size: 1.2vw;
}
.event_archive{
	height: 35vw;
	background-color: #1b457c;
}
.event_archive_slider{
	margin-left: 4vw;
	margin-right: 4vw;
	height: 23vw;
	background-color: rgb(191,198,208);
}
.event_archive_slider p{
	text-align: center;
	font-size: 2vw;
	font-weight: 800;
}
.posts_border{
	padding: 0 4vw;
}
.posts_border hr{
	color: red;
}
.archive_carousel_img img{
	width: 65%;
	height: auto;
	margin: 0 auto;
}
.archive_carousel{
	width: 20%;
	height: 12vw;
}
.archive_carousel_txt p{
	margin-bottom: 0.05vw!important;
	color: #40484a!important;
	font-size: 0.8vw;
	text-align: left;
}
.for_newsletter{
	padding:0 4vw!important;
}
