.service_intro{
	padding: 1px 10vw;
	font-size: 1.1vw;
	color: white;
}
.service_section{
	background-color: transparent!important;
	padding-bottom: 7.2vw!important;
}
.service_tab{
	background-color: rgb(255,255,255);
}
#detail_tab1{
	padding-left: 2.2vw!important; 
}
.detail_tab1_title{
	text-align: center;
	font-size: 1.5vw;
	font-weight: 800;
}
.service_reason1{
	color: white;
	padding: 0 4vw;
	font-size: 2vw;
	margin-bottom: 0;
}
.service_reason2{
	color: white;
	padding: 0 4vw;
	font-size: 2.5vw;
	font-weight: 800;
	margin-bottom: 0;
	margin-top: -1vw;
}
.service_reason_content{
	background-color: white;
	margin:0 4vw;
}
.thumb_service{
	width: 13.6%;
}
.thumb_service_img{
	width: 100%!important;
	border: 1px solid white;
}