#detail_tab_cource a img{
	max-width: 100%!important;
}
#detail_tab_cource:hover{
	-webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
#detail_tab_cource{
	background-color: rgb(255,255,255);
	padding:0;
	margin: 0 1vw;
	width: 29.5%!important;
}
#course_iamge_tab{
	text-align: center;
	font-weight: 800;
	margin-bottom: 0;
	font-size: 1vw;
}
#course_iamge_tab_txt{
	text-align: center;
	margin-bottom: 0;
	font-size: 1vw;
}
#course_header_title{
	text-align: center;
	font-size: 1.5vw;
	color: white;
}
.course_header{
	height: 25vw;
}
/*//////////////////////////////////////*/
.Courses-Banner {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 1024px){
.CCC-Header, .DDD-Header, .EEE-Header {
    line-height: 1.3em;
}
}
.CCC-Header {
    background-color: #ec3015;
}
.CCC-Header, .DDD-Header, .EEE-Header {
    color: white;
    padding: 5px 5px 5px 4vw;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 600;
}
@media only screen and (max-width: 1024px){
.Courses-Body {
    padding: 0;
}
}
.Courses-Body {
    background-color: #f2f2f4;
    overflow: hidden;
    padding: 25px;
}
@media only screen and (max-width: 1024px){
.Courses-Banner .except {
    padding: 15px;
}
}
.Courses-Body .genre-3 .Courses-Details, .Courses-Body .genre-3 .Courses-Details .CD-Listed .CD-Row span:last-child, .Tn-Cr-Repeat .Tn-Cr-Rw.genre-3, .Courses-Body .genre-22 .Courses-Details, .Courses-Body .genre-22 .Courses-Details .CD-Listed .CD-Row span:last-child, .Tn-Cr-Repeat .Tn-Cr-Rw.genre-22 {
    border-color: #ec3015;
}
.Courses-Body .Courses-Details {
    background-color: white;
    border-left: 20px solid #ec3015;
    padding: 5px;
    
    margin-top: 25px;
}
figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
.Courses-Body .panel-heading {
    padding: 0;
}
.Courses-Body .Courses-Details h3 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
}
.Courses-Body .panel-body {
    padding: 0;
}
.Courses-Body .Courses-content {
    border-right: 15px solid #f2f2f4;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 17px;
}
.Courses-Body .Courses-Details h4 {
    font-weight: 600;
    color: #666;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 9px;
    margin-top: 40px;
}
.Courses-Body .Courses-Details ul {
    padding: 25px;
}
ul, li {
    list-style: none;
}
ul, ol {
    display: block;
    padding: 0px;
    margin: 0px;
}
.Courses-Body .Courses-Details ul li {
    margin: 8px 0;
    display: table;
    padding-left: 15px;
}
.Courses-Body .Courses-infos {
    background-size: 50%;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 25px;
    font-weight: 600;
    color: #555;
}
.Courses-Body .Courses-Details .CD-Listed .CD-Row {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.Courses-Body .Courses-Details .CD-Listed .CD-Row span:first-child {
    font-weight: 600;
    float: left;
    width: 110px;
    color: #555;
}
.Courses-Body .genre-3 .Courses-Details, .Courses-Body .genre-3 .Courses-Details .CD-Listed .CD-Row span:last-child, .Tn-Cr-Repeat .Tn-Cr-Rw.genre-3, .Courses-Body .genre-22 .Courses-Details, .Courses-Body .genre-22 .Courses-Details .CD-Listed .CD-Row span:last-child, .Tn-Cr-Repeat .Tn-Cr-Rw.genre-22 {
    border-color: #ec3015;
}
.Courses-Body .Courses-Details .CD-Listed .CD-Row span:last-child {
    float: right;
    width: 60%;
    border-left: 3px solid #eb3117;
    padding-left: 20px;
}
.Courses-Body .Courses-Details .CD-Listed .CD-Action {
    margin-top: 30px;
}
.Courses-Body .Courses-infos {
    background-size: 50%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    color: #555;
}
.Courses-Body .genre-3 .Courses-Details ul li:before, .Courses-Body .genre-3 .btn.btn-block, .Courses-Body .genre-22 .Courses-Details ul li:before, .Courses-Body .genre-22 .btn.btn-block {
    background-color: #ec3015;
}
.btn, .btn:hover {
    color: white;
    font-size: inherit;
    padding: 5px 10px;
    font-weight: 600;
}
.btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #EB3117;
    border-color: : #EB3117;
    text-transform: uppercase;
}
.open-figuer {
    margin: -10px 0 0 20px;
    height: 30px;
    line-height: 0.5;
    /*padding-top: 20px;*/
    background: none;
}
.ftr-mr {
    background-color: #f2f2f4;
}
.ftr-mr {
    /*background-color: #19437f;*/
    color: white;
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 33px;
    text-align: center;
    position: relative;
    z-index: 100;
}
.open-figuer a {
    color: #939395;
    background-color: #f2f2f4;
}
.ftr-mr a {
    display: block;
    color: white;
    margin-top: -3px;
    cursor: pointer;
}
.ftr-mr a {
    color: #939395;
}
a, a:hover, a:focus, a:target {
    text-decoration: none;
    outline: none;
    color: #666;
}
.open-figuer a i.fa.fa-chevron-up {
    display: none;
}
.open-figuer i.fa.fa-chevron-down, .open-figuer i.fa.fa-chevron-up {
    font-size: 25px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.open-figuer a.tocolse i.fa.fa-chevron-down {
    display: none;
}
#c3{
	padding: 0 2vw;
}
.except p{
	font-size: 1.2em;
}
.except{
	padding-left: 3vw;
}
.Courses_Banner{
	padding: 0 4vw!important;
}
.FAQ_section{
	background-color: rgba(255,255,255,0.9);
	margin: 0 8.5vw;
	height: auto;
	padding-bottom: 1vw;
}
#headingOne h4 a:focus{
	color: red!important;

}
.panel-collapse .panel-body{
	padding-left: 3vw;
}